.width-100 {
    width: 100%;
  }
    * {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    color: #333;
    font-family: 'PT Sans', sans-serif;
  }

/* Background opacity */
  .fullcontainer {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .fullcontainer::before {
    background-image: url("../assets/background.jpg");
    background-size: contain;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
  }

  /* Top bar */
  .top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
    position: absolute;
    height: 65px;
    background-color: #44c7a0;
    z-index: 1;
  }
  .top-bar .container {
    width: 100%;
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: row;
    color: white;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  
  .top-bar .container .container-left {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    flex: 1;
    font-size: 11px;
  }
  .top-bar .container .container-left span {
    cursor: pointer;
    margin-right: 25%;
    font-weight: bold;
  }
  
  .top-bar .container .container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex: 1;
    font-size: 11px;
    font-weight: bold;
  }
  .top-bar .container .container-right span {
    cursor: pointer;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid lightgrey;
    width: 100%;
    height: 120px;
    margin-top: 65px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
  }
  
  .header h1 {
    font-size: 60px;
    font-family: Didot, serif;
    font-weight: bold;
    flex: 8;
    text-align: center;
    color: #000;
  }
  

  /* Carousel */
  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 16px;
  }

  .carousel .left-button,
  .carousel .right-button {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
    color: #fff;
    background-color: #333;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .carousel .left-button:hover,
  .carousel .right-button:hover {
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
  }

  .carousel .left-button {
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
  }

  .carousel .right-button {
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }

  .carousel img {
    width: 20%;
    display: flex;
    /* Change this back to 100% and none */
  }

  /* Tabs */
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 65px;
    background-color: rgb(85, 190, 155);
  }
  
  .tabs .food_type {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
  }
  .tabs .food_type .title {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .tabs .food_type .tab {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    color: #fff;
    background-color: #333;
    margin: 0 5px;
    padding: 2px 10px;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
  }
  .tabs .food_type .tab:hover {
    text-decoration: underline;
  }
  .tabs .food_type .active-tab {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
  }
  
  /* Restaurants */
  .restaurants {
    margin-top: 95px;
  }

  .restaurants {
    display: flex;
    justify-content: space-evenly;
    align-items: none;
    flex-direction: row;
    width: 100%;
    margin-top: 16px;
    flex-wrap: wrap;
  }

  /* Restaurant */
  .restaurant {
    margin: 20px 1%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    position: relative;
    height: 400px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(85, 190, 155);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    width: 48%;
    padding: 24px;
  }

  .restaurant h2 {
    font-size: 28px;
    padding: 0;
    margin: 15px 0 0;
    text-align:  center;
  }
   .restaurant img {
    width: 55%;
    height: 100%;
    border-radius: 8px;
    z-index: 0;
  } 
  .inner {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }
  .restaurant .restauranttext {
    width: 42%;
    text-align: justify;
  }
  
  /* Media queries */
  @media (max-width: 500px) {
    .container {
      width: 50%;
    }
  }

  @media (max-width: 800px) {
    .container {
      width: 80%;
    }
  }

  @media (max-width: 1000px) {
    .container {
      width: 90%;
    }
  }
  
  @media (max-width: 1000px) {
    .restaurants {
      flex-direction: column;
      width: 100%;
    }
  }

  @media (max-width: 1000px) {
    .carousel {
      width: 90%;
    }
  }

  @media (max-width: 1000px) {
    .top-bar .container {
      width: 90%;
    }
  }

  @media (max-width: 1000px) {
    .tabs {
      width: 90%;
    }
  }

  @media (max-width: 1000px) {
    .header {
      width: 1000px;
    }
  }